body{
    background: no-repeat;
    background-size: 109%;
    background-position: top center;
}

p{
    font-family: valorant;
}

#black_container{
    width: 35%;
    align-items: center;
    display: table;
    background-color: black;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 33%;
}

#logo{
    margin-top: 3%;
    margin-left: 3%;
}

/*Valorant Font Declaration*/
@font-face {
    font-family: valorant;
    src: url(font/Valorant\ Font.ttf);
}