/* Div to insert the number of players */
#pl-amount-div{
    width: 21vw;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

#players_text{
    font-size: 1.3vw;
    margin-inline: 7%;
    margin-top: 4%;
    margin-bottom: 3%;
    color: white;
}

#plyrs_input{
    margin-top: 2%;
    margin-right: 4%;
    height: 2vw;
    width: 3.35vw;
    border: solid white;
    border-radius: 1.4vw;
    font-size: 1.3vw;
    text-align: center;
    padding-left: 0.6vw;
}

/* Div used to inset the name of the players */
#players-inserter-div{
    margin-top: 2%;
    margin-bottom: 3%;
}

.player-name-div{
    margin-inline: 4% !important;
}

.player-name-div p{
    margin-bottom: 1%;
    font-size: 1.1vw;
}

.player-name-div input{
    width: 11.3vw;
    height: 3vh;
    font-size: 1vw;
    padding-inline: 0.3vw;
    padding-top: 0.5vh;
    padding-bottom: 0.1vh;
    border: 0.1vw solid black;
    border-radius: 1.4vw;
}

/* Title of the deselct menus */
.deselect-title{
    width: max-content;
    white-space: nowrap;
    padding: 0.5%;
    padding-inline: 1%;
    margin-left: 1%;
}

.deselect-title p{
    font-size: 1.3vw;
    color: white;
    margin-inline: 1%;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

/* Agent cell with checkbox */
#agent-selector-div{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 4%;
}

.agent-deselect-img{
    width: 3.4vw;
    height: auto;
    margin-left: 2.05vw;
    margin-right: 0.35vw;
}

.deselect-checkbox{
    width: 2vw;
    height: 2vw;
}

/* Map cell with checkbox */
#map-selector-div{
    margin: auto;
    margin-bottom: 4%;
}

.map-deselect-img{
    width: 10.5vw;
    height: auto;
    margin-inline: 0.35vw;
}

.deselect-div{
    display: inline-block;
    position: relative;
    margin-inline: 1.3%;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

.map-text{
    position: absolute;
    bottom: 1%;
    left: 20%;
    color: white;
    font-size: 1vw;
}

/* Generate button */
#generate-button{
    display: inline-block;
    margin-left: 44%;
}